@import '../../utils/sass/all';

details {
  &[open] {
    > summary {
      box-shadow: 0px 2px 2px 0 var(--translucent);
    }
  }

  &.small {
    > summary {
      padding: 0.5rem;
    }
  }

  > summary {
    @include transition;

    list-style: none;
    display: flex;
    align-items: center;
    gap: $gutter-small;
    border: 1px solid var(--translucent);
    padding: 1rem;

    &::-webkit-details-marker {
      display: none;
    }

    &:hover,
    &:focus-visible {
      background: var(--translucent);
      outline: 1px solid var(--link-hover);
    }

    &::after {
      margin-top: 1rem;
      content: "";
      height: .8rem;
      width: .8rem;
      border-inline-end: 1px solid var(--text-color);
      border-block-end: 1px solid var(--text-color);
      transform: rotate(45deg) translate(-.5em, -.5em);
    }
  }
}
