@import '../../utils/sass/all';

.chart {
  border: 1px solid var(--translucent);

  &__title {
    margin-bottom: 0;
    padding: 1rem;
    text-align: center;
    background: var(--translucent);
  }

  &__canvas-wrapper {
    padding: 0 1rem 1rem;
  }
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .chart {
    flex-basis: 100%;

    @include bp($bp-tablet-horizontal) {
      flex-basis: calc(50% - .5rem);
    }

    @include bp($bp-desktop) {
      flex-basis: calc(33% - (.5rem));
    }
  }
}
