@import '../../utils/sass/all';

.game-log {
  summary {
    h2 {
      margin-bottom: 0;
    }

    div {
      font-size: $font-size-small;
      margin-top: .25rem;
    }
  }

  &__content {
    border: 1px solid var(--translucent);
    border-top: 0;
  }

  &__data-rollup {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--translucent);

    > * {
      padding: 1rem;

      &:last-of-type {
        border-right: 1px solid var(--translucent);
      }

      + * {
        border-left: 1px solid var(--translucent);
      }
    }
  }

  &__table-wrapper {
    border-block: 1px solid var(--translucent);
    display: none;

    @include bp($bp-tablet-vertical) {
      display: initial;
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    thead {
      tr {
        background-color: var(--translucent-dark);
      }
    }

    tbody {
      &.inactive {
        display: none;
      }

      tr:nth-of-type(even) {
        td {
          background-color: var(--translucent);
        }
      }
    }

    tr {
      td,
      th {
        &:first-of-type {
          padding-left: 1rem;
        }

        &:last-of-type {
          padding-right: 1rem;
        }
      }
    }

    th,
    td {
      border: 1px solid var(--translucent);
      padding: .5em .75em;
      text-align: left;
      font-size: $font-size-smallish;
      width: 18%;

      &:last-of-type {
        width: 28%;
      }

      &.opponents {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        li {
          + li {
            margin-top: .25rem;
          }
        }
      }

      &.win,
      &.loss {
        font-weight: 500;
      }

      &.win {
        background-color: $c-translucent-green;
      }
      &.loss {
        background-color: $c-translucent-red;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  &__pagination-mobile-pager {
    margin-inline: 1rem;
    padding: .5rem;
    font-size: .8rem;

    @include bp($bp-tablet-vertical) {
      display: none;
    }
  }

  &__pagination-page-identifier {
    padding-inline: 1rem;
    display: none;

    @include bp($bp-tablet-vertical) {
      display: initial;
    }
  }

  &__pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
    display: none;

    @include bp($bp-tablet-vertical) {
      display: initial;
    }
  }

  &__pagination-list-item {
    display: inline-block;

    &.active button {
      background: var(--translucent-dark);
    }

    + .game-log__pagination-list-item {
      margin-top: 0;
    }
  }

  &__table-wrapper {
    max-height: 800px;
    overflow: scroll;
  }

  &__mobile {
    border-top: 1px solid var(--translucent);

    @include bp($bp-tablet-vertical) {
      display: none;
    }
  }

  &__mobile-page {
    &.inactive {
      display: none;
    }
  }

  .mobile-game {
    padding: 1rem;

    &:nth-of-type(even) {
      background-color: var(--translucent);
    }

    &__datum {
      + .mobile-game__datum {
        margin-top: 1rem;
      }
    }

    &__datum-label {
      font-weight: 700;
      display: block;
    }
  }
}
