@import '../../utils/sass/all';

.game-log {
  summary {
    > h2 {
      margin-bottom: 0;
    }
  }

  &__content {
    border: 1px solid var(--translucent);
    border-top: 0;
  }

  &__data-rollup {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--translucent);

    > * {
      padding: 1rem;

      &:last-of-type {
        border-right: 1px solid var(--translucent);
      }

      + * {
        border-left: 1px solid var(--translucent);
      }
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    thead {
      tr {
        background-color: var(--translucent-dark);
      }
    }

    tbody {
      tr:nth-of-type(even) {
        background-color: var(--translucent);
      }
    }

    tr {
      td,
      th {
        &:first-of-type {
          padding-left: 1rem;
        }

        &:last-of-type {
          padding-right: 1rem;
        }
      }
    }

    th,
    td {
      border: 1px solid var(--translucent);
      padding: .5em .75em;
      text-align: left;
      font-size: $font-size-smallish;
      width: 18%;

      &:last-of-type {
        width: 28%;
      }

      &.win,
      &.loss {
        font-weight: 500;
        text-shadow: none;
      }

      &.win {
        background-color: var(--win-bg);
        color: var(--win-text);
      }
      &.loss {
        background-color: var(--loss-bg);
        color: var(--loss-text);
      }
    }
  }
}
