@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

:root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  --c-green-dark: #475b5a;
  --c-white: #feffff;
  --c-black: #000000;
  --c-white-dark: #fefeff;
  --c-translucent: rgba(1,1,1,.15);
  --transition: all .2s ease;
  --background-color: var(--c-green-dark);
  --text-color: var(--c-white);
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  transition: var(--transition);
  margin: 0;
}

.site-wrapper {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem 2rem 3rem;
  position: relative;
  height: 100%;
  font-weight: 300;
}
.site-wrapper.contrast {
  --background-color: var(--c-white);
  --text-color: var(--c-green-dark);
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(180deg);
  }
}

.site-wrapper.hue-rotate {
  filter: hue-rotate(180deg);
  animation: 6s linear 0s infinite alternate hue-rotate;
}

main {
  margin-top: 8rem;
  margin-bottom: 5rem;
  transition: var(--transition);
  max-width: 50rem;
}

main.contrast {
  --background-color: #fff;
  --text-color: #000;
}

footer {
  padding: 1rem 0;
}

div {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  font-weight: 400;
  transition: var(--transition);
  background-image: linear-gradient(to right, var(--c-translucent) 0, var(--c-translucent) 100%);
  background-position: .25em .75em;
  background-size: 100% 75%;
  background-repeat: no-repeat;
}
a:hover,
a:focus {
  background-position: initial;
  background-size: 100% 100%;
}
a:focus {
  outline: 0;
  box-shadow: 0 1px 0 0 var(--c-white);
}

p {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.5;
}
p + p {
  margin-top: .5rem;
}

ul {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

li + li {
  margin-top: .5rem;
}

.contact-link__label {
  display: inline-block;
  margin-right: .5rem;
}

button,
.button {
  display: inline-block;
  padding: .5rem 1.25rem;
  color: var(--c-white);
  background: var(--c-green-dark);
  border: 1px solid var(--c-white);
  font-weight: 400;
  font-size: .8rem;
  letter-spacing: 1px;
  transition: var(--transition);
  cursor: pointer;
}
button:hover,
.button:hover,
button:focus,
.button:focus {
  background: var(--c-translucent);
  outline: none;
}
button::before,
.button::before {
  content: none;
}
button:focus,
.button:focus {
  text-decoration: underline;
}
button + button,
.button + .button {
  margin-left: 1rem;
}

@media (min-width: 540px) {}
@media (min-width: 768px) {
  main.cols--2 {
    column-count: 2;
    max-width: none;
  }
  main.cols--3 {
    column-count: 3;
    max-width: none;
  }
}
@media (min-width: 1024px) {
  .site-wrapper {
    padding-left: 10rem;
  }
  main.scroll ~ footer {
    margin-left: 10rem;
  }
  main {
    margin-top: 16rem;
  }
  main.scroll ~ footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.5rem 0 1rem;
    z-index: 1;
    background-color: var(--c-green-dark);
  }
}
