.contrast {
  --background-color: #{color('white', 2)};
  --text-color: #{color('black', 2)};
  --translucent: #{$c-translucent-light};
  --translucent-dark: #{$c-translucent-darker};
  --link: #{color('green', 3)};
  --link-hover: #{color('red', 3)};
  --link-decoration: #{color('tan', 2)};
  --win-bg: #006600;
  --loss-bg: #B30000;

  @media (prefers-color-scheme: light) {
    section.color {
      --background-color: #{color('white', 2)} !important;
      --text-color: #{color('black', 2)} !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    --background-color: #{color('black', 1)};
    --text-color: #{color('white', 1)};
    --link: #{color('white', 2)};
    --link-hover: inherit;
  }
}
