.space {
  --text-color: #{color('gold', 1)};
  --translucent: #{$c-translucent-white};
  --background-color: #{color('black', 2)};
  --link: #{color('gold', 1)};
  --link-hover: #{color('gold', 1)};
  --link-decoration: #{color('gold', 1)};

  main,
  footer {
    @include text-mask(var(--background-color));

    z-index: $z-index-foreground;
    position: relative;
  }

  section.color {
    --background-color: transparent !important;
    --text-color: #{color('gold', 1)} !important;
  }

  h1,
  select {
    text-shadow: inherit;
  }

  .starfield {
    opacity: 1;
  }
}

