$c-green-dark: #475b5a;
$c-white: #feffff;
$c-white-dark: #fefeff;
$c-black: #000000;
$c-translucent: rgba(1,1,1,.15);
$c-translucent-light: rgba(1,1,1,.075);

$transition: all .2s ease;

$gutter-large: 10rem;
$gutter-mid: 4rem;
$gutter-small: 2rem;
