.cols {
  column-gap: var(--gutter-small);
}

.cols h1,
.cols h2,
.cols h3,
.cols h4,
.cols h5,
.cols h6 {
  column-span: all;
  margin-bottom: var(--gutter-small);
}
@media (min-width: 768px) {
  .cols--2 {
    column-count: 2;
  }
  .cols--3 {
    column-count: 3;
  }
}
