@import '../../utils/sass/all';

.cols {
  column-gap: $gutter-small;

  &--2 {
    @include bp($bp-tablet-vertical) {
      column-count: 2;
    }
  }

  &--3 {
    @include bp($bp-tablet-vertical) {
      column-count: 3;
    }
  }

  > div {
    max-inline-size: 46rem;
    word-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    column-span: all;
    margin-block-end: $gutter-small;
  }
}
