@import '../../utils/sass/all';

section {
  padding-block: $gutter-small;

  &:first-of-type {
    padding-block-start: 0;
  }

  @include bp($bp-tablet-vertical) {
    &.cols--2 > .section__inner,
    &.cols--3 > .section__inner {
      max-inline-size: none;
    }
  }

  > div {
    > *:last-child {
      margin-block-end: 0;
    }
  }
}

main.scroll section:last-of-type {
  @include bp($bp-tablet-horizontal) {
    margin-block-end: $gutter-small;
  }
}
