@import '../../utils/sass/all';

section {
  padding-top: $gutter-small;
  padding-bottom: $gutter-small;

  &:first-of-type:not(.color) {
    padding-top: 0;
  }

  @include bp($bp-tablet-vertical) {
    &.cols--2 > .section__inner,
    &.cols--3 > .section__inner {
      max-width: none;
    }
  }

  &.color {
    background-color: var(--background-color);
    color: var(--text-color);

    @media (prefers-color-scheme: light) {
      &.color--white {
        --background-color: #{color('white', 2)};
        --text-color: #{color('green', 5)};
        --translucent: #{$c-translucent-light};
      }
    }
  }

  > div {
    > *:last-child {
      margin-bottom: 0;
    }
  }
}

section.color--green + section.color--green,
section.color--white + section.color--white {
  padding-top: 0;
}

main.scroll section:last-of-type {
  @include bp($bp-tablet-horizontal) {
    margin-bottom: $gutter-small;
  }
}
