@import '../../utils/sass/all';


.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  background: var(--translucent);
  border-block-start: 1px solid var(--translucent);
  border-block-end: 1px solid var(--translucent);

  > * {
    padding: .5rem 1rem;
    background: var(--background-color);
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
}
