@import '../../utils/sass/all';


.filter-row {
  display: flex;
  border-top: 1px solid var(--translucent);
  border-bottom: 1px solid var(--translucent);

  > * {
    border-right: 1px solid var(--translucent);
    padding: .5rem 1rem;
  }

  select {
    padding: .25rem;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);

    &:focus-visible {
      outline: 1px solid var(--text-color);
      background-color: var(--translucent);
    }
  }
}
