$c-green: #5B9A6E;
$c-green-dark: #475b5a;
$c-green-darker: #2c3938;
$c-red: #984447;
$c-white: #feffff;
$c-white-dark: #f2f2f2;
$c-black: #000000;
$c-black-light: #292929;
$c-gold: #B7A932;
$c-translucent: rgba(1,1,1,.15);
$c-translucent-dark: rgba(1,1,1,.35);
$c-translucent-darker: rgba(1,1,1,.5);
$c-translucent-light: rgba(1,1,1,.075);
$c-translucent-white: rgba(255,255,255,.2);
$c-translucent-gold: transparentize($c-gold, .9);
$c-translucent-green: transparentize(#5B9A6E, .6);
$c-translucent-red: transparentize($c-red, .7);

// New palettes
$colors: (
  'white': (
  #feffff,
  #f2f2f2,
  #fcfcfc,
  ),
  'black': (
  #292929,
  #000000,
  ),
  'green': (
  #B4CFC5,
  #81ae9d,
  #475b5a,
  #364544,
  #313f36,
  ),
  'red': (
  #fb9f89,
  #984447,
  #9D2406,
  ),
  'tan': (
  #c4af9a,
  #a48565,
  #614D38,
  #DBAD6A,
  ),
  'gold': (
  #B7A932,
  ),
);

$transition-timing: .2s;
$transition-curve: ease;

$gutter-large: 10rem;
$gutter-mid: 4rem;
$gutter-small: 2rem;

$z-index-foreground: 2;
$z-index-background: 1;
$z-index-overlay: 3;

$font-size-initial: 1rem;
$font-size-smallish: .9rem;
$font-size-small: .8rem;
$font-size-smaller: .6rem;
